<div class="filter-panel">
  <form class="filters">
    <mat-form-field class="business-filter">
      <mat-label>Empresa</mat-label>
      <input type="text" matInput [formControl]="businessControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{option.businessName}}</mat-option>
        }
      </mat-autocomplete>
      <!-- Mostrar el error si el campo está vacío -->
       @if(businessControl.hasError('invalidBusiness') && businessControl.touched){
         <mat-error>
           Elija una opción válida
         </mat-error>
       }
    </mat-form-field>
  </form>
  <div class="filter-options">

    <!-- Boton de selección de vista -->

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="toggleView($event)" value="lista">
      <mat-button-toggle value="lista">Lista</mat-button-toggle>
      <mat-button-toggle value="grupos">Grupos</mat-button-toggle>
    </mat-button-toggle-group>


    <button mat-button (click)="openDialog()">Agregar Cheque</button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="deleteCheqs()" mat-menu-item [disabled]="!cheqSelection.hasValue()">
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>
</div>