.filter-panel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.filter-options{
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
}

.filters{
  display: flex;
  align-items: center;
  justify-content: start;
}

.filters>.field{
  margin-right: 10px;
}


.toggle-view{
  margin-left: 10px !important;
}

.bank-filter{
  min-width: 250px;
}

.business-filter{
  min-width: 300px;
}

.business-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance-container{
  margin-left: 10px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
}

.updated-at-txt{
  font-size: 0.6rem;
  font-weight: 300;
  display: block !important;
  line-height: 0.65rem;
}

.balance-container>div{
  font-weight: 300;
  display: flex;
  align-items: center;
}


.balance-container span{
  display: contents;
}

.small-icon{
  transform: scale(0.75);
}


.balance-txt{
  font-size: 0.9rem;
  line-height: 0.95rem;
  height: 38px;
}

.balance{
  font-weight: 500;
}