.filter-panel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.filter-options{
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
}


.toggle-view{
  margin-left: 10px !important;
}

.business-filter{
  min-width: 300px;
}

.business-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance-container{
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.balance-container span{
  display: contents;
}

.small-icon {
  transform: scale(0.8);
}