<h2 mat-dialog-title>Editar saldo bancario</h2>
<p><span class="lf">Empresa: </span>{{data.business?.businessName}}</p>
<p><span class="lf">Banco: </span>{{data.bank?.bankName}}</p>
<p><span class="lf">Saldo bancario actual: </span>{{data.balance?.balance | currency:"ARS"}}</p>
<mat-dialog-content class="edit-balance-content">
  <!-- <p></p> -->
  <form (ngSubmit)="onSubmit()">
    <!-- Issue Date -->
    <mat-form-field class="balance-field">
        <mat-label>Saldo</mat-label>
        <input matInput type="number" [formControl]="balanceControl">
        @if(balanceControl.hasError('required') &&
        balanceControl.touched){
        <mat-error>
          El saldo es obligatorio
        </mat-error>
        }
      </mat-form-field>

      <mat-dialog-actions>
        <button mat-button (click)="onCloseDialog()">Cancelar</button>
        <button mat-button type="submit" cdkFocusInitial>Guardar</button>
      </mat-dialog-actions>

  </form>
</mat-dialog-content>