.edit-balance-content{
    padding: 10px 24px;
    min-width: 400px !important;
}

p{
    padding-left: 24px;
}

.balance-field{
    margin-bottom: 25px;
    width: 100%;
}

mat-dialog-actions{
    padding: 0px !important;
    justify-content: right !important;
}