header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(250,250,250);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.header-content{
  min-height: 60px;
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
}


h1.app-title{
  font-weight: 300;
  font-size: 0.9rem;
  display: contents;
}

.user-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px rgb(230, 230, 230) solid;
  padding: 5px 10px;
  border-radius: 10px;
}

.user-profile>span{
  font-weight: 300;
}

.user-profile-img{
  border-radius: 100%;
  background-color: rgb(206,206,206);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}