header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content{
  width: 100%;
  max-width: 1300px;
}

.action-buttons{
  margin-top: 5px;
  margin-bottom: 5px;
}

.accordion-panel{
  margin-bottom: 5px;
}

.panel-description{
  justify-content: flex-end !important;
}