<header>
  <div class="header-content">
    Cascada de cheques
  </div>
</header>
<main class="main">
  <app-filters (changeViewMode)="onChangeViewMode($event)" />
  @if(viewMode === "lista"){
    <app-cheq-table [cheqsDetailData]="cheqsDetailData" />
  }@else {
    <div class="action-buttons">
      <button mat-button (click)="accordion().openAll()">Expandir todas</button>
      <button mat-button (click)="accordion().closeAll()">Contraer todas</button>
    </div>
    <mat-accordion class="example-headers-align" multi>
      @for(cheqs of groupedCheqsDetailData; track cheqs.period){
          <mat-expansion-panel class="accordion-panel">
            <!--Header-->
            <mat-expansion-panel-header>
              <mat-panel-title> {{cheqs.period}} </mat-panel-title>
              <mat-panel-description class="panel-description" [ngClass]="{'negative': ((cheqs.cheqs.at(-1)?.accumulatedAmount) ?? 0) < 0}">
                Saldo: {{cheqs.cheqs.at(-1)?.accumulatedAmount | currency}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!--Content-->
            <app-cheq-table [cheqsDetailData]="cheqs.cheqs" />
          </mat-expansion-panel>
        }
    </mat-accordion>
  }
</main>



<router-outlet />
