/* You can add global styles to this file, and also import other style files */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main{
  padding: 10px 15px;
}

.negative{
  color: red !important;
}

.icon-txt-button{
  display: flex;
  align-items: center;
  gap: 5px;
}

.lf{
  font-weight: 300;
}

.action-buttons{
  margin-top: 8px;
  margin-bottom: 8px;
}